@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}
.hide {
  display: none;
}
body {
  width: 100%;
}
img {
  max-width: 100%;
  object-fit: cover;
}
:root {
  /* font size */

  /* 18,20,24,32,48,95 */

  --font-extra-small: 1.125rem;
  --font-small: 1.25rem;
  --font-extra-medium: 1.5rem;
  --font-medium: 2rem;
  --font-extra-large: 3rem;
  --font-large: 5.9375rem;

  /* font weight */

  /* 500,700,600,800,400, */

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 700;

  /* font color */

  --color-primary: #0b0223;
  --color-gray-100: #3c354f;
  --color-gray-50: #534c64;
  --color-blue: #0b0223;
  --color-sky: #4ec5f7;
  --color-pink: #e02c6d;
  --color-white: #fff;
  --color-white-gray: rgba(255, 255, 255, 0.6);
  --linear-90deg: (90deg, #ff42a5 0%, #ff42a5 100%);
  --linear-180deg: (180deg, #f948b2 0%, #8758f1 100%);
}

/* style rule  for common style*/
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 60px;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
.button {
  padding: 1.3125rem 2.5rem;
  background: var(--color-pink);
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--fw-600);
  border: none;
  border-radius: 3rem;
}
.tex-white {
  color: var(--color-white);
}
.btn-sky {
  background: var(--color-sky) !important;
}
.linear-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.common-title {
  color: var(--color-primary);
  font-size: var(--font-extra-large);
  font-weight: var(--fw-700);
}

.common-text {
  font-size: var(--font-extra-small);
  font-weight: var(--fw-400);
  color: var(--color-gray-50);
}

/* style rule for header */
header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
}
/* style rule for nav */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.nav__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.nav__icon--img {
  width: 5.3125rem;
  height: 2.5rem;
}
.nav__icon--title {
  font-size: var(--font-extra-large);
  font-weight: var(--fw-700);
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav__menu--item {
  color: var(--color-gray-100);
  font-size: var(--font-small);
  font-weight: var(--fw-500);
}
.nav__item-follow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.0625rem 1.5rem;
}
.nav__item-follow-text {
  color: var(--color-gray-100);
  font-size: var(--font-extra-small);
  font-weight: var(--fw-500);
}

.nav__item--follow-icon img {
  margin-right: 16px;
}

/* style rule for main */

/* style rule for sectionOne */

.sectionOne__banner--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.sectionOne__banner--content{
  background: url("images/bannerbg.png");
  background-size: contain;
  
}
.sectionOne__banner--title {
  color: var(--color-primary);
  font-size: var(--font-extra-large);
  font-weight: var(--fw-600);
  text-transform: uppercase;
}

.sectionOne__banner--title-color {
  font-size: var(--font-large);
  font-weight: var(--fw-800);
  margin-bottom: 1.5rem;
}

.sectionOne__banner--icon-text {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.sectionOne__banner--btn-wrapper {
  margin-top: 2.5rem;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}


/* style rule for sectionThree */

.sectionThree {
  margin-top: 7.5rem;
}

.sectionThree__onlineGames--title {
  margin-bottom: 1rem;
}

.sectionThree__onlineGames--card-wrapper {
  margin-top: 2.25rem;
  display: grid;
  grid-template-columns: repeat(4,1fr); 
  gap: 1.5rem;
  align-items: center;
}

/* .sectionThree__onlineGames--card {} */
/* .sectionThree__onlineGames--card-img-wrapper{} */


.sectionThree__card--img-wrapper {
  position: relative;
}

.sectionThree__card--img-wrapper > img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

.sectionThree__card--img-wrapper:hover .overlay {
  opacity: 1;
}
.play-button{
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  color: var(--color-pink);
  font-size: 20px;
  font-weight: var(--fw-600);
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.sectionThree__onlineGames--card-text {
  font-size: var(--font-small);
  font-weight: var(--fw-500);
  color: var(--color-gray-50);
  margin-top: 1rem;
}

/* style rule for sectionFour */

.sectionFour {
  display: flex;
  align-items: center;
  margin-top: 7.5rem;
  gap: 270px;

}

.sectionFour__content--wrapper {
  text-align: right;
}
.sectionFour__image--wrapper{
  position: relative;

}

/* .sectionFour__image--1{} */

.sectionFour__image--2 {
  position: absolute;
  top: 250px;
  right: 300px;
  width: 60%;
}

/* style rule for section section */
.sectionSeven{
  margin-top: 10rem;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  padding: 60px 0;
}

.sectionSeven__games-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:2cqw;
 }
 .sectionSeven__games {
   border-radius: 3.125rem;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 1cqw;
 }
 .sectionSeven__games h4{
   font-size: 1cqw;
   color: var(--color-primary);
 }
 .sectionSeven__games img{
   width: 4cqw;
   margin-right: 1cqw;
 }
 
.sectionSeven__games:hover{
  border-radius: 48px;
  background-color: var(--color-white);
  outline: 2px solid #e02c6d;
}




/* style rule for footer */

footer {
  background-color: var(--color-primary);
  text-align: center;
  padding: 40px 0;
}

.footer__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .footer__menu{} */
.footer__terms,
.footer__menu--item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2.5rem;
  flex-wrap: wrap;
}
.footer__menu--item a {
  color: var(--color-white);
  font-size: var(--font-extra-small);
  font-weight: var(--fw-600);
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.foot__copy,
.footer__terms--text {
  font-weight: var(--fw-500);
  color: var(--color-white-gray);
  margin-bottom: 1rem;
}






















/* style rule for media query */
@media screen and (width < 700px) {
  /* media style for header */
  header {
    box-shadow: none;
  }
  .sectionFour,
  .nav__menu {
    flex-direction: column;
  }
  /* media style for section one */
  .sectionOne__banner--wrapper {
    flex-direction: column-reverse;
  }
  .sectionOne__banner--content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* media style for section Three */

  .sectionThree__onlineGames--card-wrapper {
  grid-template-columns: repeat(1,1fr);
  gap: 5rem;
    
  }

  /* media style for section four */

  .sectionFour {
    gap: 50px;
  }
  .sectionFour__content--wrapper {
    text-align: center;
  }

  .sectionFour__content--title{
    font-size: 2rem;
  }
  .sectionFour__image--2 {
    top: 150px;
    right: 160px;
    width: 60%;
  }

  /* media style for section Seven */

  .sectionSeven__games-wrapper {
    /* flex-basis: calc(33.33% - 2 * 1cqw); */
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .sectionSeven__games h4{
    font-size: 1.8cqw;
  }
  .sectionSeven__games img{
    width: 7cqw;
    margin-right: 1cqw;
  }


  /* media style for footer */


}

@media screen and (min-width: 700px) and (max-width: 1020px) {
  .section__banner--wrapper {
    gap: 3rem;
    padding-top: 1.25rem;
  }
  .sectionOne__banner--title {
    font-size: 2rem;
  }


  .sectionOne__banner--btn-wrapper {
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .button {
    padding: 10px 15px;
  }



    /* media style for section Three */

    .sectionThree__onlineGames--card-wrapper {
      grid-template-columns: repeat(2,1fr);
      gap: 5rem;
        
      }

      /* style rule for section four */
      .sectionFour {
        gap: 50px;
      }
      .sectionFour__content--wrapper {
        text-align: left;
      }
      .sectionFour__content--title{
        font-size: 2rem;
      }
      .sectionFour__image--2 {
        top: 100px;
        right: 150px;
        width: 60%;
      }
}
